body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border: 1px solid black;
    border-radius: 8px;
    padding: 2rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  .icon {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
  }
  .siteheader {
    color: black;
    max-width: 1000px;
    margin: 1rem auto;
  }
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
   margin-top: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem 2rem;
    font-weight: bold;
    text-align: left;
    transition: background-color 0.3s ease;
   }
  
   .emoji p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 1rem 0;
    flex-grow: 1;
   }